<h2>Add Category</h2>
<br>
  <form>
    <div>
      <label>Category Name: </label>
      <input type="text" name="name">
    </div>
    <div>
      <input type="submit" value="Add Category">
    </div>
  </form>
