<h2>Browse Doctors</h2>
<br>
<ul class="docs">
  <li>
    <h3>Dr. Someone</h3>
    <p>Specialty: General</p>
    <p>Location: Lowell MA</p>
    <p><a href="details.html"><strong>Details</strong></a></p>
  </li>
  <li>
    <h3>Dr. Who</h3>
    <p>Specialty: Neurologist</p>
    <p>Location: San Francisco CA</p>
    <p><a href="details.html"><strong>Details</strong></a></p>
  </li>
  <li>
    <h3>Dr. House</h3>
    <p>Specialty: Cardiologist</p>
    <p>Location: San Antionio TX</p>
    <p><a href="details.html"><strong>Details</strong></a></p>
  </li>
</ul>
